@font-face {
    font-family: 'Cabin-SemiBold', sans-serif;
    src: URL('Cabin-SemiBold.ttf') format('truetype');
  }

body {
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 300%;
}

p {
    font-family: 'Cabin', sans-serif;
    font-size: 50%;
}