@font-face {
    font-family: 'Cabin-SemiBold', sans-serif;
    src: URL('Cabin-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: URL('SourceSansPro-Regular.ttf') format('truetype');
}


h1.title {
    font-family: 'Cabin', sans-serif;
    font-size: 72px;
}

p.text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}