.App {
  text-align: center;
  background-color: #1E1C1D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1E1C1D;
}

.Title {
  color: rgb(131, 203, 186);
  text-align: left;
  font-size: 5vw;
  padding: 6vw 15vw;
  padding-bottom: 0vw;
}

.Description {
  color: whitesmoke;
  text-align: left;
  font-size: 2vw;
  padding: 6vw 15vw;
}

.ContactDescription {
  color: whitesmoke;
  text-align: left;
  font-size: 2vw;
  padding: 60px 300px;
}

@media (max-width: 700px) {
  .Description {
    color: whitesmoke;
    text-align: left;
    font-size: 5vw;
    padding: 6vw 6vw;
  }

  .Title {
    color: rgb(131, 203, 186);
    font-size: 12vw;
    text-align: left;
    padding: 3vw 6vw;
  }

  .ContactDescription {
    color: whitesmoke;
    text-align: left;
    font-size: 20px;
    padding: 60px 30px;
  }
}

/* .aboutMeDescription{
  font-size: medium;
} */
